<div
[style.height.vh]="'96'"
[style.width.vw]="'96'"
[style.color]="'white'"
[style.background-color]="'#000'"
>
    <div
    [style.width.px]="600"
    [style.margin]="'auto'"
    >
        <h1>hello Weavy</h1>
        <button (click)="chatWindowStateChange()">open/close chat window</button>
    </div>

    <div
    [style.display]="isChatWindowVisible ? 'block' : 'none'"
    [style.height.px]="600"
    [style.width.px]="600"
    [style.margin]="'auto'"
    >
        <div
        #weavyContainer
        [style.display]="'contents'"
        ></div>
    </div>
</div>